@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717; /* Default background color */
  --foreground: #ffffff; /* Default text color */
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


